.navvbar{
  background-color: #FF6600;
  text-decoration: none;
  color: black;
  height: 25px;
  margin-left: 90px;
  width: 1150px;
}.menu{
  text-decoration: none;
  color: black;
}.logo{
  align-items: center;
  margin-top: 3px;
  margin-left: 3px;
  border: 1px solid #fff;
}.met{
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-top: -15px;
}
ul{
  display: inline-table;
 color: black;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}.log{
  margin-top: -37px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1110px;
  text-decoration: none;
}.lo{
  margin-top: -15px;
  font-weight: 450;
  margin-left: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
li{
  font-size: 14px;
  text-shadow: all;
  text-decoration: none;
  float: left;
  display: inline;
  text-align: center;
}
.main{
  font-size: 18px;
  margin-top: -10px;

}.li{
  font-size: 16px;
}.lin{
  font-size: 14px;
  text-decoration: none;
  color: darkgrey;
}.linkk{
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: darkgrey;
}.arrow{
  margin-top: 5px;
}